@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Inter:wght@400;600;700&family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}
/* Description: Main CSS File */

/******************************
Table of Contents:
- Custom Properties
- Global Rules
- Components
- Announcement
- Header
- Hero Area
- Companies
- Escrow Section
- Text Editor
- Footer
******************************/

/**************************/
/*   Custom Properties   */
/************************/
:root {
  /* Colors */
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(36, 14%, 93%);
  --text-color: hsla(0, 0%, 0%, 0.7);
  --accent-color: hsl(0, 0%, 100%);
  --mobile-nav-color: hsla(0, 0%, 0%, 0.85);
  --error: hsl(354, 70%, 54%);
  --success: hsl(152, 69%, 31%);

  /* Font */
  --font-family: "Cabin", sans-serif;

  /* Padding */
  --section-padding: 65px;
}

/*********************/
/*   Global Rules   */
/*******************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
/* Header Section */
#advert {
  height: 140px;
  background-color: #000;
}

.advert-block__text {
  width: 100%;
  height: 73px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  position: sticky;
  z-index: 90;
}

header {
  background-color: var(--secondary-color);
  padding: 65px 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}
.main-header__brand {
  width: 64px;
  height: 16px;
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle {
  width: 24px;
  height: 20px;
  background-color: transparent;
}

.main-nav__items {
  display: none;
}
.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  font-family: Cabin;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: var(--secondary-color);
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  color: var(--text-color);
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover {
  color: #fff;
}

.open {
  display: block !important;
}
/* Hero Section */

.hero-area {
  background-color: var(--secondary-color);
  padding-bottom: 50px;
}
.hero-area .container {
  display: flex;
  flex-direction: column-reverse;
}
.hero-area__text--content {
  width: 360px;
  height: 73px;
  margin: 12px 0px 18px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #5a5444;
}

.hero-area__list {
  display: flex;
  flex-direction: column;
}
.hero-area__list li::before {
  content: url(img/Checkmark.svg);
  margin-right: 20px;
}

.hero-area__list li {
  display: flex;
  align-items: center;
  padding: 5px;
}
.hero-area__email {
  width: 150px;
  height: 19px;
  margin: 53px 0 0 25px;
  font-size: 18px;
  text-align: left;
  color: #adadad;
}

.hero-area__link {
  width: 150px;
  height: 19px;
  margin: 53px 65px 0 43px;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
}

/* company Section */
.companies-section {
  background-color: var(--accent-color);
}

.companies-section .container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.companies-section img {
  height: 25px;
}
.facebook,
.dribbble,
.youtube {
  max-width: 100px;
  max-height: 31px;
  object-fit: contain;
}
.pinterest,
.twitter,
.reddit,
.google,
.slack {
  display: none;
}

.companies_container :not(last-child) {
  margin-right: 10px;
}

/* Escrow Section */
.escrow {
  background-color: var(--accent-color);
  padding: 0 15px;
}

.escrow .container {
  position: relative;
  background-color: var(--secondary-color);
  margin-top: -10px;
  border-radius: 10px;
}

.escrow h1 {
  width: 230px;
  font-size: 36px;
  padding-top: 50px;
  padding-left: 15px;
  font-weight: bold;
}

.escrow p {
  width: 303px;
  font-family: SourceSansPro;
  font-size: 18px;
  color: var(--text-color);
  padding-left: 15px;
}

.escrow h3 {
  width: 303px;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 15px;
  color: var(--text-color);
}

.text-editor h2 {
  width: 350px;
  font-size: 36px;
  text-align: left;
  color: var(--mobile-nav-color);
  padding-top: 50px;
}

.text-editor p {
  width: 380px;
  font-family: SourceSansPro;
  font-size: 18px;
  color: var(--text-color);
}

.text-editor h3 {
  width: 303px;
  padding: 20px 0;
  font-size: 18px;
  color: var(--text-color);
}

footer {
  background-color: var(--primary-color);
}
footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
  padding-bottom: 71px;
}

footer h3 {
  color: var(--accent-color);
}

footer p,
footer ul {
  color: #9e9e9e;
}
.footer__links--left,
.footer__links--right {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

footer .push-left {
  padding-right: 25px;
}

footer li {
  margin-top: 20px;
  font-family: Inter;
  font-size: 18px;
}

@media (min-width: 768px) {
  #advert {
    height: 80px;
  }
  .toggle {
    display: none;
  }

  .main-nav__items {
    display: flex;
  }

  .main-nav__items li.push-right {
    margin-left: auto;
    padding-left: 50px;
  }
  .hero-area__text--header {
    width: 600px;
    font-size: 56px;
  }
  .hero-area__text--content {
    width: 650px;
    font-size: 18px;
  }

  .facebook,
  .dribbble,
  .youtube,
  .pinterest,
  .twitter {
    max-width: 120px;
    max-height: 31px;
    object-fit: contain;
  }
  .pinterest,
  .twitter {
    display: inline;
  }

  .companies_container :not(last-child) {
    margin-right: 15px;
  }
  .escrow h1 {
    width: 450px;
    padding-top: 78px;
    padding-left: 78px;
  }
  .escrow p {
    width: 523px;
    padding-left: 78px;
  }
  .escrow h3 {
    width: 303px;
    padding-left: 78px;
    margin-top: 20px;
  }

  .text-editor h2 {
    width: 450px;
  }

  .text-editor p {
    width: 680px;
    font-family: SourceSansPro;
    font-size: 18px;
    color: var(--text-color);
  }

  footer .container {
    flex-direction: row;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  footer .footer__about {
    width: 60%;
    padding: 0 20px;
  }

  .footer__links {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -40px;
    justify-content: space-between;
  }

  .footer__links--left {
    margin-left: -400px;
    justify-content: flex-start;
  }

  .footer__container__sitemap,
  .footer__container__company {
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  #advert {
    height: 50px;
  }

  .main-nav__items li.push-right {
    margin-left: auto;
    padding-left: 150px;
  }

  header {
    padding: 65px 150px;
  }

  .hero-area .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-area__text--header {
    width: 545px;
    height: 124px;
    font-family: Cabin;
    font-size: 56px;
    text-align: left;
    color: #292929;
    margin-top: 0px;
  }
  .hero-area__text--content {
    margin-top: 0px;
  }

  .facebook,
  .dribbble,
  .youtube,
  .pinterest,
  .twitter,
  .reddit,
  .google,
  .slack {
    max-width: 120px;
    max-height: 31px;
    object-fit: contain;
  }

  .reddit,
  .google,
  .slack {
    display: inline;
  }

  .companies_container :not(last-child) {
    margin-right: 15px;
  }

  .escrow .container {
    padding-top: 40px;
    height: 405px;
  }
  .escrow h1 {
    padding-top: 78px;
  }
  .escrow h3 {
    margin-top: 10px;
  }
  .escrow .mockup {
    position: absolute;
    bottom: 0;
    right: 50px;
  }
  .text-editor .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .text-editor img {
    width: 50%;
  }
  .text-editor h2 {
    margin-top: 50px;
  }
  .text-editor p {
    width: 470px;
  }

  footer .footer__about {
    width: 40%;
    padding: 0 30px;
  }

  .footer__links {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -40px;
    justify-content: flex-end;
  }

  footer .push-left {
    padding-right: 100px;
  }

  .footer__container__sitemap,
  .footer__container__company,
  .footer__container__resources {
    padding-right: 100px;
  }

  .footer__links--left {
    margin-left: 20px;
    justify-content: flex-start;
  }
}
